.event-card {
  width: 320px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  background: #fff;
  display: flex;
  flex-direction: column;
}



.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-card .card-title {
  font-weight: bold;
  color: #0056b3;
  font-size: 1.2em;
  position: relative;
  background-color: white;
  padding: 10px 0;
  text-align: center;
}

.event-card .card-body {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.event-card .card-text {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  flex-grow: 1;
}

.event-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  padding: 10px;
}

.event-buttons .btn {
  width: 45%;
}

.event-link {
  text-decoration: none;
  color: #007bff;
}

.event-link:hover {
  text-decoration: none;
}

.like-btn {
  background-color: #007bff;
  border: none;
}

.like-btn:hover {
  background-color: #218838;
}

.book-btn {
  background-color: #007bff;
  border: none;
}

.book-btn:disabled {
  background-color: #6c757d;
}
